@model UmbracoProject1.Models.SolicitudeschModel

<style>
    #infoModal .modal-content {
        border-radius: 20px;
        border: none;
    }

    .card.card-plain {
        border: none;
    }

    .bg-azul.text-center.py-4 {
        border-radius: 20px 20px 0px 0px;
    }
</style>


<div id="fContactoDiv">
    <form id="fContacto"
          asp-controller="Solicitudesch"
          asp-action="Crear"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#fContactoDiv">
        <div class="input-group input-group-outline mb-3">

            @Html.LabelFor(x => x.Nombrech, new { @class = "form-label text-dark spiex-p-lead" })
            <input class="form-control b-10" asp-for="@Model.Nombrech">
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Nombrech" class="text-danger"></span></small>
        </div>
        <div class="input-group input-group-outline mb-3">
            @Html.LabelFor(x => x.Apellidoch, new { @class = "form-label spiex-p-lead text-dark" })
            <input class="form-control b-10" asp-for="@Model.Apellidoch">
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Apellidoch" class="text-danger"></span></small>
        </div>

        <div class="input-group input-group-outline mb-3">
            @Html.LabelFor(x => x.Empresach, new { @class = "form-label spiex-p-lead text-dark" })
            <input class="form-control b-10" asp-for="@Model.Empresach">
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Empresach" class="text-danger"></span></small>
        </div>


        <div class="input-group input-group-outline mb-3">
            @Html.LabelFor(x => x.Cargoch, new { @class = "form-label spiex-p-lead text-dark" })
            <input class="form-control b-10" asp-for="@Model.Cargoch">
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Cargoch" class="text-danger"></span></small>
        </div>


        <div class="input-group input-group-outline mb-3">
            @Html.LabelFor(x => x.Correoch, new { @class = "form-label spiex-p-lead text-dark" })
            <input class="form-control b-10" asp-for="@Model.Correoch">
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Correoch" class="text-danger"></span></small>
        </div>
        <div class="input-group input-group-outline mb-3">
            @Html.LabelFor(x => x.Telefonoch, new { @class = "form-label spiex-p-lead text-dark" })
            <input class="form-control b-10" asp-for="@Model.Telefonoch">
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Telefonoch" class="text-danger"></span></small>
        </div>
        <div class="input-group input-group-outline mb-3">
            @Html.LabelFor(x => x.Mensajech, new { @class = "form-label spiex-p-lead text-dark" })
            @Html.TextAreaFor(x => x.Mensajech, new { @class = "form-control b-10" })
            <small class="form-text text-muted mb-1 mt-0"><span asp-validation-for="@Model.Mensajech" class="text-danger"></span></small>
        </div>

        <div class="g-recaptcha input-group input-group-outline mb-3" data-sitekey="6Lca7jkoAAAAAMFVoTT4MvO6qAhW2JUWRcbql4Mw"></div>
        @Html.ValidationMessageFor(x => x.ReCaptcha, "", new { @class = "text-danger" })

        <div class="text-center">
            <input type="submit" class="btn-spiex" value="发送" />
        </div>
    </form>
</div>
