@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}


@await Html.PartialAsync("_Header")

<section class="pt-5">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-dynamic mb-4">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                    <input id="buscador" class="form-control" placeholder="Buscar" type="text">
                </div>
            </div>
        </div>
    </div>
</section>


<!--Documentos -->
<div class="container">
    <h1 class="spiex-section-title">@Model.Value("titulo1")</h1>
</div>
<div class="container px-5">
    <div class="row">
                
                @{
                	var documentos = Umbraco.Content(Guid.Parse("64abb70c-0e61-497b-99c3-8d70848c8a55"))
                    .ChildrenOfType("recurso")
                    .Where(x => x.IsVisible());
                }


                @foreach (var documento in documentos)
	            {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div id="carusel" class="card border-0 shadow documento">
                            @{
                                var prebanner2= documento.Value<IPublishedContent>("banner");
                                var pre2 = documento.Value<IPublishedContent>("descargable");
                                if (prebanner2 != null)
                                {
                                    <img id="sel" class="img-thumbnail " src="@prebanner2.Url()" alt=""/>
                                }
                            }
                            <div class="card-body">
                                <h2 class="text-start ">
                                     <h2 class="text-start">@documento.Value("nombre")</h2>
                                    <a download="@pre2.Name()" href="@pre2.Url()" class="btn-spiex">@Model.Value("textodescarga")</a>
                                    <a href="@documento.Url()" class="btn-spiex-second">@Model.Value("textover")</a>

                                </h2>
                            </div>
                        </div>
                    </div>
                }
                
            </div>

        </div>
    </div>
</div>

}